<div class="row">
  <div class="col-md-8">
    <form class="form-inline">
      <div class="form-group">
        <%= search_form_for @q do |f| %>
          <%= f.search_field :sport_name_ja_or_sport_type_or_sport_description_cont, placeholder: "タイトルか本文を検索", class: "form-control" %>
      </div>
          <%= f.submit "検索", class: "btn btn-primary" %>
        <% end %>
    </form>

    <% @sports.each do |sport| %>
      <div class="article">
        <h2><%= sport.sport_name_ja %></h2>
        <p><%= sport.sport_type %></p>
        <p><%= sport.sport_date %></p>
        <p><%= truncate(sport.sport_description, length: 50) %></p>
        <p>
          <%= link_to "詳細", sport, class: 'btn btn-default' %>
        </p>
        <br>
      </div>
    <% end %>
    <%= paginate @sports %>
  </div>
</div>
