<div class="row">
  <div class="col-md-8">
    <% @sports.each do |sport| %>
      <div class="article">
        <h2><%= sport.sport_name_ja %></h2>
        <p><%= sport.sport_type %></p>
        <p><%= sport.sport_date %></p>
        <p><%= truncate(sport.sport_description, length: 50) %></p>
        <p>
          <%= link_to "詳細", sport, class: 'btn btn-default' %>
        </p>
      </div>
    <% end %>
  </div>


  </div>
</div>
